<link rel="stylesheet" type="text/css" href="../stylesheets/main.css"/>
<link href="https://fonts.googleapis.com/css2?family=News+Cycle&display=swap" rel="stylesheet"/>



<header class="header">
	<div class="innerHeader">
		<div class="logoContainer">
			<b class="headerTitle">Yingnathan</b>
		</div>

		<ul class="navigation">
			<a href="/index.html"><li>Home</li></a>
			<a><li>Portfolio</li></a>
			<a><li>Contact</li></a>
		</ul>
	</div>
</header>
<div style="height:3000px;background:#756"></div>
