.creditCardText {
	font-family: 'Inconsolata', monospace !important;
	font-size: 16pt !important;
	top: 70px;
	position: relative;
}

.creditCard {
	min-height: 150px;
	border: 1px solid black;
	cursor: pointer;
	border-radius: 10px;
	padding-top: 62.8%;
	background: $purple;
	color: $white;
	width: max-content;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.creditCard.active {
	background: $primary !important;
}
.shine::after {
    content: '';
    display: block;
    width: 50px;
    background: rgba(255, 255, 255, 0.2);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2)50%, rgba(255, 255, 255, 0.5)100%); /* Safari 5.1-6.0 */
    background: -o-linear-gradient(0deg, rgba(255, 255, 255, 0.2)50%, rgba(255, 255, 255, 0.5)100%); /* Opera 11.1-12.0 */
    background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0.2)50%, rgba(255, 255, 255, 0.5)100%); /* Firefox 3.6-15 */
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2)50%, rgba(255, 255, 255, 0.5)100%); /* Standard syntax */
    left: 50px;
    top: 1%;
    bottom: 1%;
    height: calc(100% - 4px);
    position: absolute;
    transition: all 1s;
		-webkit-transition: all 1s;
		-moz-transition: all 1s;
		-o-transition: all 1s;
		-ms-transition: all 1s;
    -ms-transform: skewX(-25deg); /* IE 9 */
    -webkit-transform: skewX(-25deg); /* Safari */
    transform: skewX(-25deg);
}
/* Shine animation of the card on hover */
.shine:hover::after {
	left: 160px;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
}

.creditCardChip {
  background: #efb77f;
  border-radius: 5px;
  display: block;
  height: 30px;
  left: 30px;
  position: absolute;
  top: 50px;
  width: 40px;
}
.creditCardLogo {
	position: absolute;
	left: 180px;
	top: 10px;
	width: 100%;
  max-width: 70px;
}
.amex {
	color: #2671B9;
}
.creditCardRow {
	display: flex;
  flex-wrap: wrap;
}
@include media-breakpoint-down(sm) {
  .creditCardRow {
    justify-content: center;
  }
}
