* {
	font-family: 'Pacifico', cursive;
	color: #5252e0;
}
body {
	margin: 0;
	font-size: min(12vw, 2rem);
}

h1 {
	font-size: min(14vw, 4rem);
}

#content {
    width: 80vw;
    margin: 0 auto;
	text-align: center;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

